<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <div id="blog_menu">

        <h:form>
            <ul class="nav nav-tabs">
                <li class="#{view.viewId == '/views/main.xhtml' ? 'active' : ''}">
                    <h:link value="Home" outcome="main"/>
                </li>

                <h:panelGroup rendered="#{loginBean.login == false}">
                    <li class="#{view.viewId == '/views/login.xhtml' ? 'active' : ''}">
                        <h:link value="Login" outcome="login"/>
                    </li>
                </h:panelGroup>

                <h:panelGroup rendered="#{loginBean.login == true}">
                    <li class="#{view.viewId == '/views/addPost.xhtml' ? 'active' : ''}">
                        <h:link value="Add Post" outcome="add"/>
                    </li>
                </h:panelGroup>

                <h:panelGroup rendered="#{loginBean.login == true}">
                    <li class="#{view.viewId == '/views/login.xhtml' ? 'active' : ''}">
                        <h:commandLink action="#{loginBean.logout()}" value="Logout (#{loginBean.currentUser.name})"/>
                    </li>
                </h:panelGroup>
            </ul>
        </h:form>
    </div>

</ui:composition>