<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
    <h:outputStylesheet name="bootstrap/css/bootstrap.css"/>
    <h:outputStylesheet name="bootstrap/css/bootstrap-theme.css"/>
    <h:outputScript name="bootstrap/js/bootstrap.js"/>
    <title><ui:insert name="title">Template</ui:insert></title>
</h:head>

<h:body>
    <div id="blog_body">

        <div id="header">
            <ui:insert name="header">
                <ui:include src="header.xhtml"/>
            </ui:insert>
        </div>

        <div id="content">
            <ui:insert name="content">
            </ui:insert>
        </div>

        <div id="footer">
            <ui:insert name="footer">
            </ui:insert>
        </div>

    </div>

</h:body>
</html>