<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">Add post</ui:define>

    <ui:define name="content">
        <h:form id="post_add_form">
            <div class="postAddForm">
                <div>
                    <h:inputTextarea id="description" class="form-control" value="#{postViewBean.post.description}"
                                     pt:placeholder="#{i18n['post.description']}"/>
                </div>
                <div>
                    <h:inputTextarea id="body" class="form-control" value="#{postViewBean.post.body}"
                                     pt:placeholder="#{i18n['post.body']}"/>
                </div>
                <div>
                    <h:commandButton id="button" class="btn btn-default" value="#{i18n['btn.addPost']}"
                                     action="#{postViewBean.savePost()}"/>
                </div>
            </div>
        </h:form>
    </ui:define>

</ui:composition>