<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">Login</ui:define>

    <ui:define name="content">
        <h:form id="login-form">

            <div id="blog_login">

                <div><h:outputText value="user/password: test/test"/></div>

                <div class="input-group">
                    <h:inputText id="username" class="form-control" value="#{loginBean.currentUser.name}"
                                 pt:placeholder="#{i18n['placeholder.Username']}"/>
                </div>
                <div class="input-group">
                    <h:inputSecret id="password" class="form-control" value="#{loginBean.currentUser.passwordHash}"
                                   pt:placeholder="#{i18n['placeholder.Password']}"/>
                </div>
                <div>
                    <h:commandButton id="button" class="btn btn-default" value="#{i18n['btn.login']}"
                                     action="#{loginBean.login()}"/>
                </div>
                <div>
                    <h:messages/>
                </div>
            </div>
        </h:form>
    </ui:define>
</ui:composition>
