<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="title">Home</ui:define>

    <f:metadata>
        <f:viewParam id="id" name="id" value="#{postListBean.currentPage}"/>
        <f:event type="preRenderView" listener="#{postListBean.onIdInject()}"/>
    </f:metadata>


    <ui:define name="content">

        <!-- Posts List -->
        <ui:repeat value="#{postListBean.get()}" var="comment">
            <div class="post">
                <div class="author"><h:outputText value="Add by #{comment.author.name} #{comment.changeDate}"/></div>
                <div class="postDescription"><h:outputText value="#{comment.description}"/></div>
                <div>
                    <h:link value="#{i18n['btn.read']}" outcome="post" class="btn btn-default">
                        <f:param name="id" value="#{comment.id}"/>
                    </h:link>
                </div>
            </div>
        </ui:repeat>

        <!-- Pagination -->
        <h:panelGroup rendered="#{postListBean.paginationList.size() > 0}">
            <div class="navigation">
                <ul class="pagination">
                    <ui:repeat value="#{postListBean.paginationList}" var="item">
                        <li>
                            <h:link value="#{item}" outcome="main">
                                <f:param name="id" value="#{item}"/>
                            </h:link>
                        </li>
                    </ui:repeat>
                </ul>
            </div>
        </h:panelGroup>



    </ui:define>

</ui:composition>