<?xml version="1.0" encoding="UTF-8"?>

<ui:composition template="template/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="title">Post</ui:define>

    <ui:define name="content">

        <!-- Parameter injection -->
        <f:metadata>
            <f:viewParam id="id" name="id" value="#{postViewBean.postId}"/>
            <f:event type="preRenderView" listener="#{postViewBean.onIdInject()}"/>
        </f:metadata>

        <!-- Post block -->
        <h:outputText value="#{postViewBean.post.id}"/>

        <!-- Comments list form -->
        <h:form id="comments" name="comments">
            <h:panelGroup rendered="#{postViewBean.post.comments.size() > 0}">
                <div class="commentForm">
                    <h4>Comments</h4>

                    <ui:repeat value="#{postViewBean.post.comments}" var="comment">
                        <div class="comment">
                            <div class="author"><h:outputText value="Comment by #{comment.author.name}"/></div>
                            <h:outputText value="#{comment.body}"/>

                            <!-- Comment author == current author or current user is admin -->
                            <h:panelGroup rendered="#{loginBean.currentUser.id == comment.author.id or loginBean.isAdmin()}">
                                <div class="deleteBlock">
                                    <h:commandLink id="deleteLink" value="#{i18n['link.delete']}">
                                        <f:ajax listener="#{postViewBean.deleteComment(comment.id)}" execute="@this" render="@form"/>
                                    </h:commandLink>
                                </div>
                            </h:panelGroup>

                        </div>
                    </ui:repeat>
                </div>
            </h:panelGroup>
        </h:form>

        <!-- Comments save form -->
        <h:form id="comment_add_form">
            <h:panelGroup rendered="#{loginBean.login}">
                <div class="commentAddForm">
                    <div>
                        <h:inputTextarea id="body" class="form-control" value="#{postViewBean.comment.body}" pt:placeholder="#{i18n['comment.body']}"/>
                    </div>
                    <div>
                        <h:commandButton id="button" class="btn btn-default" value="#{i18n['btn.addComment']}">
                            <f:ajax event="click" listener="#{postViewBean.saveComment()}" execute="@form" render=":comments @form"/>
                        </h:commandButton>
                    </div>
                </div>
            </h:panelGroup>
        </h:form>


    </ui:define>

</ui:composition>